h1 {
font-family: signika, dense, mohave, stellar, hk grotesk, quanelas, cloud, modernist;
color: #ff0000;
}

button {
 background-color: #99cc33;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 border-radius: 12px;
 cursor: pointer;
}
